* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.2px;
}
html{
  min-width: 335px;
  margin: 0;
  padding: 0; 
  width: 100%;
  overflow-x: hidden;
}
body{
  min-width: 335px;
  margin: 0;
  padding: 0; 
  width: 100%;
  overflow-x: hidden
}
header{
  min-width: 335px;
}
/*//// APP PAGE /////*/
.App {
  background-color: #95cfc6;
  min-height: 100%;
  height: 100%;
  padding-top: 8em;
}
@media(max-width: 1000px){
.App {
  background-color: #95cfc6;
  min-height: 100%;
  height: 100%;
  padding-top: 4em;
}
}

/*//// NAV PAGE /////*/
.navbar {
  position:fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2em;
  height: 6em;
  list-style: none;
  z-index: 70;
  background-color: #95cfc6;
}
.navlink {
  text-decoration: none;
  color: rgb(245, 245, 239);
  margin-top: 1em;
}
.menu-icon {
  display: none;
}
.side-drawer{
  display: none;
}
.logo {
  height: 60px;
  border-radius: 50%;
  padding-bottom:10px;
}

/*//// PRODUCTS PAGE /////*/
.products {
  height: 100%;
  width: inherit;
  background-color:#cedddb;
  padding: 1em 4em 1em 4em;
  color:  rgb(77, 74, 74);
}
.prod-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
}
.box {
  position: relative;
  height: 250px;
  width: 250px;
  background-color: transparent;
  background-size: inherit;
}
.btn {
  position: absolute;
  top: 19%;
  left: 85%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  border-radius: 50%;
  width: 15%;
  border: 1px solid white;
}
.box .btn:hover {
  background-color: #8ea0a3
}
.prod-box {
  width: 100%;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 2em;
  display: grid;
  grid-auto-flow: dense;
  grid-template:  "1fr 1fr 1fr 1fr" 33.33vh;
  grid-template-rows: auto auto auto; 
  grid-gap: 1em 1em;  
 }
.prod-img {
  width: 250px;
  height: 250px;
  margin-top: 1em;
  object-fit: cover;
  }
.products h1 {
  margin-left: 1em;
}
@media(max-width: 1000px){
.navbar {
  position:fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 0.1em;
  height: 4em;
  list-style: none;
  z-index: 70;
  background-color: #95cfc6;
}
}
/*//// ADMIN PAGE /////*/
.admin-page {
  height: 100%;
  width: inherit;
  background-color:#cedddb;
  padding: 1em 4em 1em 4em;
  color:  rgb(77, 74, 74);
}
.admin-page h2 {
  margin-bottom: 1em;
  text-align: center;
}
.uses-columns{
  display: flex;
  justify-content: space-evenly;
  column-gap: 1em;
  row-gap: 1em;
  align-items: center;
}
.admin-uses {
  margin: 2em 0em 2em 0em;
  max-width: 350px;
  min-width: 350px;
  padding: 2em;
  border-style: solid;
  border-width: 0.5px;
  border-color:  rgb(77, 74, 74);
  background-color: rgb(182, 192, 190);
}
.admin-uses form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 270px;
  margin: 1em auto;
}
.find-btn{
  padding: 7px;
  color:  rgb(77, 74, 74);
  border-radius: 5%;
  background-color: #f7f9fa;
  border: 1px solid grey;
  margin-right: 1em;
}
.find-input{
  padding: 7px;
  color:  rgb(77, 74, 74);
  border-radius: 5%;
  background-color: #f7f9fa;
  border: 1px solid grey;
  width: 203px;
}
.add-del-upd-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.add-del-upd-btns button {
  padding: 5px 16px;
  color:  rgb(77, 74, 74);
  border-radius: 2px;
  background-color: #f7f9fa;
  border: 1px solid grey;
  margin-right: 0.3em;
  width: 60px;
  height: 60px;
}
.add-del-upd-btns button:hover {
  background-color: #8ea0a3
}
.input-text{
  max-width: 270px;
  margin: 1em auto;
}
.input-text input{
  padding: .19em;
  width: 275px;
  padding: 7px 0px;
}
.img-btn-row{
  display: flex;
  justify-content: space-between;
  max-width: 285px;
  margin: 1em auto;
  padding-left: 0.5em;
}
.prod-table-admin{
  margin: auto;
  border: 1px solid  rgb(77, 74, 74);
  margin-bottom: 2em;
  table-layout:fixed
}
.prod-admin-line{
  background-color: rgb(182, 192, 190); 
}
.prod-img-admin  {
  width: 60px;
  height: 60px;
  object-fit: cover;
  padding: 1em;
}
.uses-img-admin  {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.del-btn button {
  color:  rgb(77, 74, 74);
  border-radius: 2px;
  background-color: #f7f9fa;
  border: 1px solid grey;
  width: 60px;
  height: 60px;
  margin: 1em
}
.prod-bottom-admin {
  padding: 1em;  
}
.prod-bottom-admin p{
  margin: 0;  
  font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;word-wrap:break-word
}
.hide{
  display: none
}
.hr-admin {
  width:100%; 
  height:5px; 
  margin: 2em 0em;
  background: rgb(117, 114, 114);
} 
@media(max-width: 1000px){
  .admin-page {
    height: 100%;
    width: inherit;
    background-color: #cedddb;
    padding: 1em 0.1em 1em 0.1em;
    color: rgb(77, 74, 74);
  }
  .uses-columns{
    flex-direction: column;
  }
  .admin-uses {
    margin: 2em 0em 2em 0em;
    max-width: 350px;
    min-width: 290px;
    padding: 1em 5%;
    border-style: solid;
    border-width: 0.5px;
    border-color:  rgb(77, 74, 74);
    background-color: rgb(182, 192, 190);
  }
}

/*//// SIGN IN/REGISTER PAGE /////*/
.sign-form{
  height: 100%;
  background-color: #cedddb;
  padding: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  color: rgb(77, 74, 74);
 }
.sign-form h2 {
  margin-bottom: 1em;
}
/*//// CART/CHECKOUT/SIGN IN/REGISTER PAGE /////*/
.form-text p{
  margin-top: 1em;
}
/*//// SIGN IN PAGE /////*/
.form-text p a{
  color: rgb(77, 74, 74);
  text-decoration: underline;
}
/*//// SHIPPING/SIGN IN/REGISTER PAGE /////*/
.sign-input {
  width: 27em;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(77, 74, 74);
 }

/*//// CART PAGE /////*/
.cart {
  background-color: #cedddb;
  height: 100%;
  padding: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  color: rgb(77, 74, 74);
  }
.form {
  background-color: rgb(252, 249, 249);
  padding: 3em;
  border-radius: 10px;
}
.cart hr { 
  width:100%; 
  height:1px; 
  background: #fff; 
  margin-bottom: 1.5em;
}
/*//// CART/CHECKOUTFORM PAGE /////*/
.cart-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 1em;
}
.cart-box {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-bottom: 1em;
}
.cart-box p {
  margin-bottom: .3em;
  margin-left: 0em;
  margin-right: 1em;
}
.cart-stotal {
  padding-left: 2em;
}
.checkout-btn {
  width: 25em;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(77, 74, 74);
}

 /*//// CHECKOUT PAGE /////*/  
.checkout-form {
  background-color: #cedddb;
  height: 100%;
  padding: 4em;
  display: flex;
  flex-direction: row;
  color: rgb(77, 74, 74);
  justify-content: space-evenly; 
  column-gap: 1em;
  row-gap: 1em;
  }
.checkout-form h2 {
  margin-bottom: 1em;
  margin-top: 1em;
}

/*//// SHIPPING PAGE /////*/  
.checkout-shipping-info {
  background-color: rgb(252, 249, 249);
  padding: 1em;
  border-radius: 5px;
  margin-top: 1em;
  width: 25em;
  font-style: oblique;
  font-size: smaller;
}
.checkout-shipping-info h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-decoration: underline;
}

/*//// CHECKOUTFORM PAGE /////*/
.checkout-cart {
  max-width: 20em;
  background-color: rgb(252, 249, 249);
  padding: 2em;
  border-radius: 10px;
  margin-top: 2em;
}
.hr-line{
  margin-bottom: 1em;
}

/*//// FOOTER /////*/   
.footer {
  background-color: #9fb9b9;
  color: rgb(77, 74, 74);
  height: 100%;
  padding: 1.3em 10%;
}
.footer-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  margin-bottom: 3em;
}
.footer-content h3,h4,p{
  margin: .5em 0em .5em 0em;
}
.footer-content h4{
  color: #ffffff; 
}
.footer-content p a:hover{
  color: white;
}
.footer-content a{
  color: rgb(77, 74, 74);
  text-decoration: none;
}
.footer-content i{
  margin-right: 1em;
}

/*//// GENERAL /////*/
.red {
  color: red;
  margin-top: 1em;
}

.green {
  color: green;
  margin-top: 1em;
}

/*//// RESPONSIVE PAGES /////*/
@media(max-width: 1100px){
  .prod-box{
    grid-template:  "1fr 1fr 1fr" 250px;
    grid-template-rows: auto auto auto; 
    grid-gap: 2em 1em;  
    margin-right: 2em;
  }
  .head-img{
    display: none;
  }
}
@media(max-width: 900px){
  .navlink{
    display: none;
  }
  .menu-icon{
    position: fixed;
    display:flex;
    right: 25px;
    padding-top: 18px;
    font-size: 30px;
    color: rgb(77, 74, 74);
    z-index: 100;
  }
  .side-drawer{
    display:flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-width: 130px;
    background-color: rgb(185, 182, 182);
    box-shadow: 2px 0px 5px rgb(112, 112, 112);;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 70;
  }
  .side-drawer-items{
    list-style: none;
    margin-top: 6em;
  }
  .navlink-side{
    margin-bottom: 2em;
    text-decoration: none;
    color: rgb(77, 74, 74);
  }
  .navlink-side:hover,
  .navlink-side:active{
    color: white;
  }
  .logo {
    height: 50px;
    margin-top:10px;
  }
  .prod-box{
    grid-gap: 2em 1em; 
    grid-template:  "1fr 1fr" 200px;
    grid-template-rows: auto auto auto; 
    margin-right: 2em;
  }
  .checkout-form {
    background-color: #cedddb;
    height: 100%;
    padding: 4em;
    display: flex;
    flex-direction: column;
    color: rgb(77, 74, 74);
    justify-content: space-evenly; 
    column-gap: 1em;
    row-gap: 1em;
  }
  .checkout-btn {
    width: 22em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(77, 74, 74);
  }
  .form {
    background-color: rgb(252, 249, 249);
    padding: 2em;
    border-radius: 10px;
  }
}

@media(max-width: 650px){
  .products {
    height: 100%;
    display: grid;
    justify-content: center;
    background-color:rgb(238, 236, 236);
    padding: 1em 0em 1em 0em;
    color:  rgb(77, 74, 74);
  }
  .prod-box{
    grid-gap: 1em 1em; 
    grid-template:  "1fr" 200px;
    grid-template-rows: auto; 
    margin-right: 2em;
    margin-left: 2em;
  }
  .checkout-form {
    background-color: #cedddb;
    height: 100%;
    padding: 4em;
    display: flex;
    flex-direction: column;
    color: rgb(77, 74, 74);
    justify-content: space-evenly; 
    column-gap: 1em;
    row-gap: 1em;
  }
  .checkout-btn {
    width: 22em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(77, 74, 74);
  }
  .form {
    background-color: rgb(252, 249, 249);
    padding: 1em;
    border-radius: 10px;
    width: 19em;
  }
  .footer-box{
    grid-template:  "1fr" 250px
                    "1fr" 250px;

    grid-gap: 2em;  
    grid-template-rows: auto auto auto; 
  }
}
